body{
  background-color:#ffffff ;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  h2{
      color:#000000;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      transition: 0.2s linear;
      align-items: center;
      justify-content: center;
  }
  
  h2 span{
      color: #eb0061;
      width: 60px;
      height: 60px auto;
  }
  
  p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  }